

    

<div class="container navigation" style="width: auto;height: 70px;">
  <div class="table ">
    <ul  id="horizontal-list" style="border-radius: 30px;">
      <li class="active" style="margin-right: 40px;font-family: 'IBM Plex Sans', sans-serif;"><a href="" style="color: white">HOME</a></li>
      <li class="active" style="margin-right: 40px;font-family: 'IBM Plex Sans', sans-serif;"><a href="" style="color: white">ABOUT US</a></li>
      <li><a href="" style="margin-right: 40px;font-family: 'IBM Plex Sans', sans-serif;color: white">CONTACT</a></li>
        </ul>
  </div>

</div>


  <div class="left-half">
<mat-card>
  <mat-card-content >
    <h2>CHOOSE USER TYPE</h2>
 
      <mat-radio-group style="padding-left: 10px; padding-right: 10px;" variant="contained" color="primary" >
      <mat-radio-button value="1" >Admin </mat-radio-button>
      <mat-radio-button value="2">Physician </mat-radio-button>
      <mat-radio-button value="3">Nurse </mat-radio-button>
    </mat-radio-group>
  


    
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required/>
            <mat-error *ngIf="!loginForm.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>

        <div>
          <span>
            <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Forgot Password?</a>
          </span>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>  
        </mat-form-field>
        </div>


        <div>
          <input type="checkbox" value="lsRememberMe" id="rememberMe"> 
          <mat-label>Remember me</mat-label>
        </div>
        <div class="example-button-row">
        <button mat-flat-button color="primary">Login</button>
      </div>

      <div class="flex-col-c p-t-155"    style="padding: 20px;">
        <span class="txt1 p-b-17">
          Or Sign Up Using
        </span>

        <a href="#" class="txt2">
          Sign Up
        </a>
      </div>
      </form>
    
       
      
    </mat-card-content>
  </mat-card>
</div>